---
title: Skills
---
<h1 class='bg-twitter fixed'> Skills: Prayag Barua </h1>
<br>
<div class='lr-margin top-margin'>
  <div align='justify'>
    <p class='center lg-font bg-email'> <b>Technical Skills </b> </p>
    <ul>
      <li><b> Web:</b> HTML/HAML, CSS/Bootstrap, Ruby/Rails, Javascript/jQuery, Git
      </li>

      <li><b>Legacy:</b> IBM iSeries, Synon, Data Modeling, CL, Query, SQL, FTP, RPG, COBOL
      </li>

      <li><b>Methodologies:</b> Waterfall, Staged, Agile
      </li>

      <li>Good writing skills for generating technical documentation
      </li>

      <li>Gathering user requirements and mapping business processes
      </li>

      <li>Experience in managing software development projects and change requests
      </li>

      <li>Business, Functional and Technical analysis
      </li>

      <li>Coordination of activities at offshore development center
      </li>
    </ul>

    <p class='center lg-font bg-email'> <b>Non Technical Skills </b> </p>
    <ul>
      <li> Dedicated and persevering
      </li>

      <li>Collaborative spirit
      </li>

      <li>Enthusiastic about sharing knowledge
      </li>

    </ul>

  </div>
</div>
