/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 3em;
  padding-bottom: 2em;
}

// Backgrounds
.bg-text {
  background: #4a4a4a;
}
.bg-email {
  background: #aeaeae;
}
.bg-twitter {
  background: #00a3e1;
}
.bg-facebook {
  background: #3b5998;
}
.left {
  text-align: left;
}
.justify {
  align: justify;
}
.underline {
  text-decoration: underline;
}
.italic {
  font-style: italic;
}
.center {
  text-align: center;
}
.lg-font {
  font-size: 20px;
}
.lr-margin {
  margin-left: 25%;
  margin-right: 25%;
}
.fixed {
  position: fixed;
}
.top-margin {
  margin-top: 50px;
}
.left35 {
  margin-left: 35%
}
.left30 {
  margin-left: 30%
}
.bottom2em {
  margin-bottom: 2em;
}
