---
title: Education
---
<h1 class='bg-twitter fixed left30'> Education: Prayag Barua </h1>
<br>
<br>
<div class='lr-margin top-margin'>
  <div align='justify'>
    <p class='center lg-font bg-email'>
    <span class='center'>Masters Degree in Economics
    <br>
     Delhi school of Economics, India </span></p>
    <br>
    <p class='center lg-font bg-email'>
    <span class='center'>Full Stack Developer Bootcamp
    <br> Le Wagon, Brussels </span></p>

  </div>
</div>
