---
title: Education
---
<h1 class='bg-twitter fixed'> Education: Prayag Barua </h1>
<br>
<div class='lr-margin top-margin'>
  <div align='justify'>
    <p class='center lg-font bg-email'> <b>1983</b>
    <span class='center'>Masters Degree in Economics - Delhi school of Economics, India </span></p>
    <br>
    <p class='center lg-font bg-email'> <b>February - April 2016</b>

    <span class='center'>Full Stack Developer Bootcamp - Le Wagon, Brussels </span></p>

  </div>
</div>
