---
title: Win-Win
---

<h1 class='bg-twitter fixed left35'> A Win-Win Scenario </h1>
<br>
<br>
<div class='lr-margin top-margin'>
  <div align='justify'>
    <p class='center lg-font bg-email'> <b>Win for the Employer </b></p>
    <p>
      What is driving me is my desire to learn and start creating with technology again. I have done so in the past and I am sure I will do it again. My goal is to quickly reach a point where I am fluently able to use and build with modern information tools. Luckily for me, I am at a phase in life where I have plenty of time and can immerse myself in learning. I feel that all I require is some guidance, a project framework, a little mentoring and you will have me attacking your to-do list. </p>
    <p>
      I am a seasoned professional who has been down the path of building software and implementing projects many times and I know what the process entails. I may not know the technology that you use, but I am confident that it will not take me long to understand project needs and goals. </p>
    <p>
      For an opportunity to join a cracking team and learn, I am happy to start off as an intern, be paid peanuts and if my work is not satisfactory, be asked to leave. This will give you, my employer, the flexibility to try me out – someone with plenty of experience, promising to consume limited resources, willing to invest a lot of time and asking for little money. </p>
    <p>
      My goal in educating myself in modern technology is simply to work as a developer. I have no ulterior goal of learning and then leaving for somewhere else. If there is a mutual liking after my internship, I will be happy to continue working at the same place.</p>
    <br>
    <p class='center lg-font bg-email'> <b>Win for Me </b></p>
    <p>
      The win for me is that I get to learn and start developing software as a job again.
    </p>
    </div>
    </div>
